[submodule "home/.zsh/zsh-snap"]
	path = home/.zsh/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git
[submodule "home/.vim/vim-plug"]
	path = home/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
